#markdown-toc li {
    font-size: 1.0em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    padding: 0.1em;
}

#markdown-toc ul {
    padding: 0.1em;
}

.post .post-content blockquote p {
    font-size: 1.0em;
}

.post .post-content ul li {
    font-size: 1.2em;
}
.post .post-content ul li ul {
    padding: 0;
}
.post .post-content ul li ul li {
    font-size: 1.0em;
}
